{% extends 'base.html.twig' %}

{% block title %}Relative index{% endblock %}

{% block body %}
    <h1>Relative index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>IsUser</th>
                <th>Relationship</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relative in relatives %}
            <tr>
                <td>{{ relative.id }}</td>
                <td>{{ relative.firstName }}</td>
                <td>{{ relative.lastName }}</td>
                <td>{{ relative.birthdate ? relative.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ relative.gender }}</td>
                <td>{{ relative.isUser ? 'Yes' : 'No' }}</td>
                <td>{{ relative.relationship }}</td>
                <td>
                    <a href="{{ path('relative_show', {'id': relative.id}) }}">show</a>
                    <a href="{{ path('relative_edit', {'id': relative.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('relative_new') }}">Create new</a>
{% endblock %}
