<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}ReMindMe{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
              rel="stylesheet">
        <link href="//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular"
              rel="stylesheet" type="text/css"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar sticky-top navbar-expand-lg">
                <div class="logo">
                    <a class="navbar-logo" href="#">Re<span class="mind">Med</span>Me</a>
                </div>
                <div class="navbar-right">
                    {% if app.user %}
                        <div class="nav-item active">
                            <svg class="navbar-svg">
                                <use xlink:href="/img/login.svg#logout"></use>
                            </svg>
                            <div class="link-navbar sign">
                                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </div>
                        <div class="nav-item active">
                            <svg class="navbar-svg">
                                <use xlink:href="/img/user-regular.svg#profil"></use>
                            </svg>
                            <div class="link-navbar sign">
                                <a class="nav-link" href="{{ path('app_login') }}">My Profile</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="nav-item active">
                            <svg class="navbar-svg">
                                <use xlink:href="/img/user-regular.svg#profil"></use>
                            </svg>
                            <div class="link-navbar sign">
                                <a class="nav-link" href="{{ path('app_login') }}">Sign In</a>
                                <span class="reminders">My reminders</span>
                            </div>
                        </div>
                    {% endif %}


                    <div class="nav-item active">
                        <svg class="navbar-svg">
                            <use xlink:href="/img/question-circle-regular.svg#circle"></use>
                        </svg>
                        <div class="link-navbar help">
                            <a class="nav-link" href="#">Help & FAQs</a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
