{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container-profil">
        <div class="left-side">
            <h1>Whose care ?</h1>
            {% for relative in user.relatives  %}
                    <div class="relative-card {% if relative_medoc is defined and relative_medoc.id == relative.id%} card-active {% endif %}">
                        <a href="{{ path('user_show_relative', {'id': user.id, 'relative': relative.id}) }}">
                        <div class="relative-info">
                            <h3>{{ relative.firstName}} </h3>
                            <p>{{ relative.birthdate|date("m/d/Y") }}</p>
                        </div>
                        </a>
                    </div>
            {% endfor %}

            <div class="add-relative">
                <a href="{{ path('relative_new') }}">
                    <svg class="navbar-svg">
                        <use xlink:href="/img/user-plus-solid.svg#add"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="right-side">
            <h1>
                {% if relative_medoc is defined %}
                    {{ relative_medoc.firstName ~ "'s" }} treatment
                {% endif %}
            </h1>
            <div class="medoc">
                <table>
                    <thead>
                    <tr class="head-table">
                        <th>Name</th>
                        <th>Dose</th>
                        <th>Per/Days</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="body-table">
                    {% if relative_medoc is defined %}
                        {% for medoc in relative_medoc.relativeHasMedics  %}
                            <tr>
                                <td class="name">{{ medoc.medicId.name }}</td>
                                <td class="dose">{{ medoc.dose }}</td>
                                <td class="perdays">{{ medoc.nbTimes }}</td>
                                <td class="image"><img src="{{ medoc.medicId.image }}"></td>
                                <td class="action">
                                    {% if app.user.isVerified == 1 %}
                                        <ul class="action-list">
                                            {{ include('relative_has_medic/_delete_form.html.twig') }}
                                            {#<li><a class="delete-link" href="{{ path('relative_has_medic_delete', {'id': medoc.id}) }}">Delete</a></li> #}
                                            <li><a href="{{ path('relative_has_medic_edit', {'id': medoc.id}) }}">Edit</a></li>
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            </div>
            {% if app.user.isVerified == 1 and relative_medoc is defined %}
                <div class="add-medoc">
                    <a href="{{ path('relative_has_medic_new', {'id': relative_medoc.id }) }}">Add treatment</a>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
